body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #5d5246;
}

.App {

  border-top-color: #ffeedb;
  text-align: center;
  background-color: #ffeedb;
}

.App-header {
  background-color: #ffeedb;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13%;
  justify-content: top;
  font-size: 24px;
  color: rgb(61, 57, 43);
}

.App-link {
  color: #617bfb;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.rightColumn {
  display: flex;
  flex-direction: column;
}

.topRightSubRow {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}