.demo {
    width: 100px;
    /* Adjust the width and height to the desired size */
    height: 75px;
    background: transparent;
    cursor: pointer;
    border: 1px solid transparent;
} 

.demo:disabled {
    cursor: not-allowed;
}

.peak {
    width: 65px;
    /* Adjust the width and height to the desired size */
    height: 65px;
    background-color: #F8D05D;
    cursor: pointer;
    /* Customize the background color */
    border: 1px solid transparent;
    border-radius: 50%;
}

.peak:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.last {
    width: 65px;
    /* Adjust the width and height to the desired size */
    height: 65px;
    background-color: #D7B0B0;
    cursor: pointer;
    /* Customize the background color */
    border: 1px solid transparent;
    border-radius: 50%;
}

.last:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.off {
    width: 65px;
    /* Adjust the width and height to the desired size */
    height: 65px;
    background-color: #ffffff;
    border: 1px solid #000000;
    cursor: pointer;
    /* Customize the background color */
    border-radius: 50%;
}

.off:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.centered {

    display: flex;
    justify-content: center;
    align-items: center;

}

.countdown{
    
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}