.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 347px;
    height: 347px;
}

.image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}