.container {

    background: rgb(61,64,69);
    width: 100%;
    min-height: 8vh;
    text-align: left;
    color: rgba(255, 253, 245, 0.453);
    
}

.git {
    
    justify-content: center;
    align-items: center;
    display: flex;

}
.gitimg {

    display: block;
    width: 6vh;
    height: 6vh;
    justify-content: center;
    filter: grayscale(100%);
    opacity: 0.5;

}

.grid {
    display: grid;
    min-height: 8vh;
    grid-template-columns: 12fr 1fr;
    column-gap: 0px;
    justify-content: center;
}

.txt{
    font-family: "General Sans";
    margin-bottom: 1.5%;
    margin-left: 10px;
    justify-content: left;
    font-size: 19px;
}

.txtBolded{
    font-family: "General Sans";
    margin-top: 1.5%;
    margin-left: 10px;
    justify-content: left;
    font-size: 19px;
    font-weight: bold;
}