.main {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    position: relative;
    font-size: 52px;
    font-weight: bold;
    color: #C1C1C1;
}

.location {
    font-size: 24px;
    font-weight: bold;
}

.subLoc {
    font-size: 14px;
    font-weight: bold;

}

.widgetWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 18px;
    width: 127px;
    height: 108px;
}

.widget {
    max-width: 127px;
    max-height: 108px;
    border-radius: 5px;
}

.gray {
    color: #C1C1C1;
}

.margin {
    margin-left: 32px;
}